.menu
    padding-bottom: 40px
    padding-top: 40px
    background-image: url("../img/main_bg.jpg") 
    .container1
        position: relative
        background-color: #f8f7f7  
        margin-left: 100px 
        margin-right: 100px 
        padding-right: 30px
        border: solid 1px #7e7e7e
        h2
            font-family: 'Courgette', cursive
        .red
            color: #ac0d0d
            font-size: 1.5em
            font-family: 'Courgette', cursive
        .set
            position: absolute
            right: 0 

.index
    list-style: none
.price
    background-color: #ccc7c7 
    color: #ac0d0d 
    padding: 1px 8px   
.deco-right
    position: absolute
    bottom: 0
    right: 0       

.chef
    background-color: #000 
    .text
        font-family: 'Courgette', cursive
        color: #f0efef
    .red
       color: #ac0d0d
       font-size: 1.7em     
.reserved
    padding-bottom: 40px
    padding-top: 40px
    background-image: url("../img/main_bg.jpg")
    .container2
        position: relative
        background-color: #f8f7f7   
        margin-left: 100px 
        margin-right: 100px 
        padding-right: 30px
        border: solid 1px #9c9c9c
        .img-right
            position: absolute
            right: 0 
        .img-left
            position: absolute 
.text
    font-family: 'Courgette', cursive
    padding-top: 50px
.red
    color: #ac0d0d
    font-size: 1.7em 
h3,p
    font-size: 1em                
.btn
    border-radius: 30px
    background-color:#ac0d0d
    color: #FFF    
    padding: 10px 30px
    font-size: 1em 
.bottom-right
    position: absolute
    bottom: 0
    right: 0 
         
.comment
    background-color: #ac0d0d
    color: #FFF
    padding: 15px 5px 10px 5px
    border-radius: 20px
    .number
        font-size: 1.5em
     