.menu 
    padding-bottom: 40px
    padding-top: 40px
    background-image: url("../img/main_bg.jpg") 
    .container1
        position: relative
        background-color:  #f8f7f7  
        margin-left: 100px 
        margin-right: 100px 
        padding-right: 30px
        border: solid 1px #d3d3d3
        h2
            font-family: 'Courgette', cursive
        .red
            color: #aa3131
            font-size: 1.5em
            font-family: 'Courgette', cursive
        .set
            position: absolute
            right: 0 
// card menu
.index
    list-style: none
    li
        border-bottom: solid 2px #cacaca
        margin-top: 20px
.price
    background-color: #ececec 
    color: #aa3131
    padding: 1px 8px 
.myhover
    :hover
        background-color: #aa3131
.onglet
    font-family: 'Courgette', cursive
    font-size: 2em 
    padding: 20px 5px 5px 5px
.bord
    border-bottom: dotted 1px #b3b2b2  
    padding: 5px
    margin: 0px 10px  
.bord2
    border-left: solid 2px #b3b2b2 
    img
        border: solid 4px #b3b2b2
        height: 120px
        width: 120px 
        margin-right: 10px
        margin-bottom: 8px 
.dinner
    h5
        font-size: 1em
    p
        font-size: 0.8em

// footer menu      
.deco-right
    position: absolute
    bottom: 0
    right: 0       

.chef
    background-image: url("../img/team_background.jpg")
    .img-fluid1
        border-bottom: solid 1px #b3b2b2 

    .text
        font-family: 'Courgette', cursive
        color: #f0efef
    
.reserved
    padding-bottom: 40px
    padding-top: 40px
    background-image: url("../img/main_bg.jpg")
    .container2
        position: relative
        background-color: #f8f7f7   
        margin-left: 100px 
        margin-right: 100px 
        padding-right: 30px
        border: solid 1px #b3b2b2 
        .img-right
            position: absolute
            right: 0 
        .img-left
            position: absolute 
.pad
    padding-bottom: 20Px
.text
    font-family: 'Courgette', cursive
    padding-top: 50px
.red
    color: #aa3131
    font-size: 1.5em
    font-family: 'Courgette', cursive 
h3,p
    font-size: 1em                
.btn
    border-radius: 30px
    background-color:#aa3131
    color: #FFF    
    padding: 12px 30px
    font-size: 1em 
.bottom-right
    position: absolute
    bottom: 0
    right: 0 
.row
    .blog
        width: 600px
    .like
        position: absolute 
        top:1100px
        left: 120px
        z-index: 1 
        width: 24vw 
    .like1
        position: absolute 
        top:1100px
        right: 255px
        z-index: 1 
        width: 24vw     
           
.comment
    background-color: #aa3131
    color: #FFF
    padding: 15px 5px 10px 5px
    border-radius: 10px
    .number
        font-size: 1.5em
.formulaire
    max-width: 750px
    padding: 60px 90px
    background-image: url("../img/book_table_bg.jpg")
    border-radius: 30px
    margin-top: 50px
    .telephone
        padding:10px
        font-size: 1.2em
.input-group > .form-control, .input-group > .form-select
    border-radius: 10px

.input
    margin-bottom: 50px        

.client
      background-image: url("../img/testimonials_background.jpg")
.text2
    color: #ffffff
    font-size: 0.8em 
.blog
    border-radius: 30px
    border: solid 5px #dadada
.contact
    background-image: url("../img/main_bg.jpg")
.mycard
    padding: 30px 
    color: #ffffff 
    border-radius: 20px
    background-color: #aa3131 
.mysize
    padding-bottom: 20px
    padding-top: 40px
.bordure
    border: solid 1px #b1b1b1
    border-radius: 10px
    margin: 20px 10px 50px 30px
    padding-top: 20px
    padding-bottom: 8px
.contoure
    border: solid 5px #ffffff
  